@import './variables';

// Mobile
@media only screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
  .responsive-container {
    width: 100%;
    max-width: 70rem;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .x-padding-on-mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Tablet
@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .responsive-container {
    width: 100%;
    max-width: 96.4rem;
  }

  .hide-on-tablet {
    display: none !important;
  }
}

// Desktop and larger
@media only screen and (min-width: $desktop-min-width) {
  .responsive-container {
    width: 100%;
    max-width: 130rem;
  }

  .hide-on-desktop {
    display: none !important;
  }
}

/*
// Mobile
@media only screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {

}

// Tablet
@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {

}

// Desktop and larger
@media only screen and (min-width: $desktop-min-width) {

}
*/