// Font Sizes
$font-size-hero: 9.6rem;
$font-size-headline-1: 6.4rem;
$font-size-headline-2: 4.8rem;
$font-size-headline-3: 4.0rem;
$font-size-headline-4: 3.2rem;
$font-size-headline-5: 2.9rem;
$font-size-headline-6: 2.7rem;


$font-size-body-1: 2.4rem;
$font-size-body-2: 1.6rem;

$font-size-caption-1: 1.4rem;
$font-size-caption-2: 1.2rem;

$font-size-hairline-1: 1.6rem;
$font-size-hairline-2: 1.2rem;

$font-size-button-1: 1.6rem;
$font-size-button-2: 1.4rem;

// Color Styles
$neutrals-1: #141416;
$neutrals-2: #23262F;
$neutrals-3: #353945;
$neutrals-4: #777E90;
$neutrals-5: #B1B5C3;
$neutrals-6: #E6E8EC;
$neutrals-7: #F4F5F6;
$neutrals-8: #FCFCFD;

$primary-1: #3B71FE;
$primary-1-variant: #3772FF;
$primary-2: #8BC5E5;
$primary-3: #92A5EF;
$primary-4: #58C27D;

$secondary-1: #A4CDE3;
$secondary-2: #E4D7CF;
$secondary-3: #FFD166;
$secondary-4: #FA8F54;

$red-1: #FF524C;