@import "../assets/styles/variables";

.Logo {

  a {
    display: flex;
    align-items: center;
    gap: .9rem;
    text-decoration: none;

    img {
      width: 3.6rem;
    }

    :global(.brand-title) {
      color: white;
      font-size: $font-size-headline-6;
      font-weight: bold;
    }
  }
}